/* * {
  border: 1px solid black;
} */

.home {
  width: 100%;
}

.home .main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home .sus,
.home .mijloc,
.home .jos {
  width: 100%;
}

.home .sus {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.home .sus-logo {
  margin-top: 50px;
  background: url("../svg/logo-display.svg") center center no-repeat;
  background-size: contain;
  min-height: 200px;
  display: inline-block;
}

.home .text-dinala {
  width: 100%;
  background-color: var(--accent-darker);
  color: var(--accent-light);
  padding: 10px 20px;
  margin-top: 80px;
  display: flex;
  justify-content: center;
}

.home .text-dinala p {
  max-width: 500px;
  font-size: var(--font-size-normal);
  line-height: 25px;
}

.home .call-to-action h1 {
  font-size: var(--font-size-larger);
  color: var(--accent-normal);
  font-weight: bold;
}

.home .mijloc {
  margin-top: 50px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home .mijloc .call-to-action {
  width: 50%;
}

.home .call-to-action button {
  width: 140px;
}

.home .see-latest-routes {
  text-align: right;
  color: var(--accent-light);
}

.home .action-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.home .action-overlay-active {
  display: block;
}

.harta {
  width: 300px;
  height: 300px;
  background-color: aquamarine;
}

.action-pane {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: fixed;
  bottom: 0;
  z-index: 2;
  min-height: 90%;
  padding: 0 50px;
  min-width: 50%;
  background-color: var(--accent-darker);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.action-pane form {
  display: grid;
  padding: 20px 0;
}

.action-pane form label {
  color: var(--accent-light);
  font-weight: bold;
  font-size: larger;
}

.action-pane form input {
  border-radius: 50px;
  background-color: transparent;
  padding: 15px;
  margin-bottom: 50px;
  margin-top: 20px;
  border: 2px solid var(--accent-light);
  color: var(--accent-light);
  font-size: larger;
}

.action-pane::before,
.action-pane::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 30%;
  z-index: -1;
  left: 0;
}

.action-pane::before {
  top: 0;
  background: linear-gradient(var(--accent-dark) -100%, transparent);
  border-radius: inherit;
}

.action-pane::after {
  background: linear-gradient(transparent 30%, var(--accent-dark) 150%);
  bottom: 0;
}

.action-pane h1 {
  text-align: center;
  color: var(--accent-light);
  text-transform: uppercase;
  letter-spacing: 5px;
  flex: 1;
  display: grid;
  place-items: center;
}

.action-pane .no-account-tip {
  flex: 1;
  display: grid;
  place-items: center;
  color: var(--accent-light);
  font-size: var(--font-size-normal);
}

.action-pane .no-account-tip button {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  background: none;
  border: 0;
  text-decoration: underline;
  cursor: pointer;
  display: inline-block;
}

.register-pane form {
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 25px;
}

.register-pane form input,
.register-pane form button {
  width: 100%;
  margin-bottom: 0;
}

.register-pane form div:last-child {
  /* width: 213%; bro pls dc drq nu-i 200% destul de lung */
  grid-column: span 2;
}

.register-pane form div:last-child button {
  margin-top: 20px;
}
