.main-page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
}

.main-page .menu {
  width: 100%;
  height: 100%;
  background-color: #38b177;
  color: white;
}

.main-page .logs {
  width: 100%;
  height: 100%;
  color: white;
  word-wrap: break-word;
  background-color: #38b177;
}

.main-page .logs .mapp {
  width: 100%;
  height: 100%;
  display: block;
}

.leaflet-routing-container {
  display: none;
}
